<div class="container d-flex ">
  <% @lists.each do |list| %>
  <div class="card rounded text-center show1 my-5 mx-3 shadow-lg p-3 mb-5 bg-body-tertiary rounded" style="width: 18rem; height: 15rem;">
    <%= link_to "#{list.name}",bookmark_path(list.id), class:"text-decoration-none"%>
  </div>
  <% end %>
    <%= link_to "Create a movie list", new_bookmark_path,class: "btn btn-outline-secondary mt-3 text-center " ,style:"width: 16%; height: 10%;"%>
</div>
